*{margin: 0;}
.section{
  display: inline-block;
  width: fit-content;
  height: fit-content;
  background-color: beige;
  
  
}
.section-header{
  text-align: center;
  font-size: 3rem;
  
  
}
.section-content{
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.underline{
  
  
  font-size:4rem ;
  height: 0.25rem;
  width: 5rem;
  background-color: blue;
  padding-left: 5rem;
  margin-left: 42rem;
  
}
.body{
  width:1470px ;
  height: 500px;
  background-color: rgb(214, 142, 33);
  display: inline-block;

}
div{
  height: 250px;
  border: 2px solid red;
}
.one{
  background: linear-gradient(rgba(250,34,200,0.5),rgba(233,253,200,0.7)),url("./images/big.jpeg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: antiquewhite;
  font-size: 2rem;
  font-weight: 200px;
}
.two{
  background-image: url("./images/small.jpeg");
  
  background-size:contain ;
}
.three{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image:linear-gradient(rgba(243,44,210,0.4),rgba(245,35,200,0.8)), url("./images/GetAttachmentThumbnail.jpg");
  text-align: center;
  color: azure;
  font-size: 2rem;
  font-weight: 200px;
}
.four{
  background: linear-gradient(to right,green  50%,blue,yellow,red);
  color:azure;
  text-align: center;
}
.colors{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#25bc2d+1,2989d8+50,207cca+51,211360+66,7db9e8+100&0.52+1,0.89+99,1+100 */
background: linear-gradient(to bottom,  rgba(37,188,45,0.52) 1%,rgba(41,137,216,0.71) 50%,rgba(32,124,202,0.71) 51%,rgba(33,19,96,0.77) 66%,rgba(122,180,228,0.89) 99%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}